debug: false
management.endpoints.web.exposure.include: "*"


logging:
  level:
    com.fastcampus.projectboard: debug
    org.springframework.web.servlet : debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/board
    username: ckeel
    password: 1541
    driver-class-name: com.mysql.cj.jdbc.Driver

  #    url: jdbc:h2:mem:testdb
  #    username: sa
  #    driver-class-name: org.h2.Driver


  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

#  h2.console.enabled: true

  sql:
    init:
      mode: always






